<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.luke.app"
        versionCode="10" 
        version   = "2.7.0">

    <!-- versionCode is optional and Android only -->

    <name>Bluffed</name>

    <description>
        This is a fun little app called Bluffed. 
    </description>

    <author href="http://lukekowald.com/" email="luke@lukekowald.com">
        Luke Kowald
    </author>
	
	<icon src="icon.png" />
	<preference name="phonegap-version" value="2.7.0" />

</widget>